html{
  border: #E6E6FA 15px dashed;
  background-color: #9932CC ;
  margin: 0;
  padding: 0;
  height: 100%;
}

#container{
  text-align: center;
  background-color: #f861f3;
  Display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  border: solid black 10px;
}

header{
  border: solid black 10px;
  background-color: #f861f3;
  width: 100%;
}

nav, footer{
  background-color: #B0E0E6;
  width: 100%;
  border: solid black 10px;
}

.font1{
  color:#8B0000;
  font-size: 60px;
  font-family:New Century Schoolbook, TeX Gyre Schola, serif ;
  font-weight: bold;
}

.font2{
  color: #F0F8FF;
  font-family:Times, Times New Roman, serif;
}

#ButtonsofTheMain{
  background-color: #f861f3;
  Display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.WordsinButtom{
  background-color:		#8B008B;
  border: 4px, dashed, #E0FFFF ;
  color: #B0E0E6;
  font-family: Didot, serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  height: 100px;
  width: 200px ;
}

.MainButtonLeft{
  background-color: whitesmoke;
  /*border: solid black 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px;
}

.MainButtonRight{
  background-color: whitesmoke;
  /*border: solid black 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 40px;
}